In [1]:
import pandas as pd

bike_station = pd.read_csv("./data_2019.csv",header=0,sep=';')

C:\Users\katio\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
print(bike_station.columns)
bike_station.head()

Index(['id', 'bikesAvailable', 'spacesAvailable', 'allowDropoff',
       'isFloatingBike', 'state', 'realTimeData', 'time', 'week', 'yday',
       'day', 'month', 'hour', 'minute', 'yhour', 'year'],
      dtype='object')

,id,bikesAvailable,spacesAvailable,allowDropoff,isFloatingBike,state,realTimeData,time,week,yday,day,month,hour,minute,yhour,year
0,591,4,20,1.0,0.0,Station on,1.0,2019/04/02 13:55:02,14,92,2,4,13,"0,916666700",-11,2019
1,230,0,0,1.0,0.0,Station off,1.0,2019/04/02 13:55:02,14,92,2,4,13,"0,916666700",-11,2019
2,593,0,12,1.0,0.0,Station on,1.0,2019/04/02 13:55:02,14,92,2,4,13,"0,916666700",-11,2019
3,110,1,19,1.0,0.0,Station on,1.0,2019/04/02 13:55:02,14,92,2,4,13,"0,916666700",-11,2019
4,231,0,0,1.0,0.0,Station off,1.0,2019/04/02 13:55:02,14,92,2,4,13,"0,916666700",-11,2019

In [12]:
print("There are {} stations".format(len(bike_station["id"].unique())))
bike_station["id"].unique()

There are 456 stations

array([ 591,  230,  593,  110,  231,  111,  232,  595,  112,  233,  596,
        113,  234,  597,  114,  235,  115,  236,  116,  237,  117,  238,
        118,  239,  119,  240,  120,  241,  121,  242,    1,  122,  243,
          2,  123,  244,    3,  124,  245,    4,  125,  246,    5,  126,
        247,    6,  127,  248,    7,  128,  249,    8,  129,    9,  250,
        130,  251,   10,  131,  252,   11,  132,  253,   12,  133,  254,
         13,  134,  255,   14,  135,  256,   15,  136,  257,   16,  137,
        258,   17,  138,  259,   18,  139,   19,  260,  140,  261,   20,
        141,  262,   21,  142,  263,   22,  143,  264,   23,  144,  265,
         24,  145,  266,   25,  146,  267,   26,  147,  268,   27,  148,
        269,   28,  149,   29,  701,  703,  705,  707,  709,  270,  150,
        271,   30,  272,   31,  273,   32,  274,   33,  275,   34,  276,
         35,  277,   36,  278,   37,  279,   38,   39,  711,  713,  715,
        719,  280,  281,   40,  161,  282,   41,  162,  283,   42,  163,
        284,   43,  285,   44,  286,   45,   46,   47,   48,   49,  721,
        601,  723,  603,  725,  727,  607,  729,  609,   50,   51,   52,
         53,   54,   55,   56,   57,   58,   59,  731,  611,  733,  613,
        735,  615,  737,  617,  739,  619,   60,   61,   62,   63,   64,
         65,   66,   67,   68,   69,  741,  621,  501,  623,  503,  745,
        625,  505,  747,  627,  507,  749,  629,  509,   70,   71,   72,
         73,   74,   75,   76,   77,   78,   79,  751,  631,  511,  753,
        633,  513,  755,  635,  515,  757,  637,  517,  518,  639,  519,
         80,   81,   82,   83,   84,   85,   86,   87,   88,   89,  761,
        641,  521,  763,  643,  523,  645,  525,  767,  647,  527,  769,
        649,  529,   90,   91,   92,   93,   94,   95,   96,   98,   99,
        651,  531,  653,  533,  537,  538,  539,  541,  543,  545,  547,
        549,  551,  553,  555,  557,  559,  561,  200,  563,  201,  202,
        565,  203,  204,  205,  206,  207,  208,  209,  571,  210,  573,
        211,  212,  575,  213,  214,  577,  215,  216,  579,  217,  218,
        219,  581,  220,  583,  100,  221,  101,  222,  585,  223,  103,
        224,  587,  104,  225,  105,  226,  589,  106,  227,  107,  228,
        108,  229,  109,  532,  390,  516,  514,  526,  534,  900, 1213,
       1219, 1217, 1227, 1105, 1225, 1103, 1223, 1101, 1221, 1109, 1229,
       1237, 1115, 1235, 1113, 1233, 1111, 1231, 1119, 1239, 1131, 1007,
       1249, 1127, 1005, 1125, 1003, 1001, 1243, 1009, 1129, 1021, 1263,
       1261, 1139, 1017, 1259, 1137, 1015, 1257, 1135, 1013, 1255, 1133,
       1011, 1019, 1153, 1031, 1273, 1151, 1271, 1029, 1149, 1027, 1269,
       1147, 1025, 1267, 1023, 1265, 1143, 1043, 1041, 1039, 1037, 1035,
       1277, 1033, 1053, 1051, 1049, 1047, 1045, 1065, 1063, 1061, 1059,
       1057, 1055, 1203, 1209, 1207, 1123, 1121,    0,  901, 1107, 1117,
       1251, 1247, 1141, 1279, 1205, 1215, 1211, 1241, 1245, 1253, 1145,
       1201, 1275,  290,  291,  292], dtype=int64)

In [33]:
nb_obs = bike_station[["id","time"]].groupby('id').count()
print("We can see that all the stations have not the same amount of observations")
print("At most, a station have {} observations and at least {}.".format(nb_obs['time'].max(), nb_obs['time'].min()))
nb_obs

We can see that all the stations have not the same amount of observations
At most, a station have 105363 observations and at least 437.

       time
id
0       437
1     61708
2     61331
3     61331
4     61331
...     ...
1271  41327
1273  41327
1275  30844
1277  41327
1279  36517

[456 rows x 1 columns]

In [52]:
print("I'm trying to see what are the stations with 0 bike available and 0 space available. Are they all on off state ?")
nospaces_nobikes = bike_station.loc[(bike_station['bikesAvailable']==0) & (bike_station['spacesAvailable']==0) & (bike_station["state"]=="Station on")]
print(nospaces_nobikes)
print("We can see that some stations are on but have 0 bikes and 0 space. That seems weird. Maybe they are always like that and so we can consider them like off ?")
print("I will look at the Ids of these stations :")
ids = nospaces_nobikes["id"].unique()
print(ids)
print("There are only {} stations.".format(len(ids)))
bike_station.loc[(bike_station['id']==518) & (bike_station["bikesAvailable"]!=0) & (bike_station["spacesAvailable"]!=0)]

I'm trying to see what are the stations with 0 bike available and 0 space available. Are they all on off state ?
           id  bikesAvailable  spacesAvailable  allowDropoff  isFloatingBike  \
4795703   518               0                0           1.0             0.0
4796056   518               0                0           1.0             0.0
4796063   513               0                0           1.0             0.0
4796412   518               0                0           1.0             0.0
4796419   513               0                0           1.0             0.0
...       ...             ...              ...           ...             ...
25965956  513               0                0           1.0             0.0
25965965  523               0                0           1.0             0.0
25965970  529               0                0           1.0             0.0
25965979  533               0                0           1.0             0.0
25965981  534               0                0           1.0             0.0

               state  realTimeData                 time  week  yday  day  \
4795703   Station on           1.0  2019/05/27 14:55:03    22   147   27
4796056   Station on           1.0  2019/05/27 15:00:03    22   147   27
4796063   Station on           1.0  2019/05/27 15:00:03    22   147   27
4796412   Station on           1.0  2019/05/27 15:05:03    22   147   27
4796419   Station on           1.0  2019/05/27 15:05:03    22   147   27
...              ...           ...                  ...   ...   ...  ...
25965956  Station on           1.0  2019/11/11 11:45:03    46   315   11
25965965  Station on           1.0  2019/11/11 11:45:03    46   315   11
25965970  Station on           1.0  2019/11/11 11:45:03    46   315   11
25965979  Station on           1.0  2019/11/11 11:45:03    46   315   11
25965981  Station on           1.0  2019/11/11 11:45:03    46   315   11

          month  hour       minute  yhour  year
4795703       5    17  0,916666700   1313  2019
4796056       5    18  0,000000000   1314  2019
4796063       5    18  0,000000000   1314  2019
4796412       5    18  0,083333336   1314  2019
4796419       5    18  0,083333336   1314  2019
...         ...   ...          ...    ...   ...
25965956     11    13  0,750000000   5341  2019
25965965     11    13  0,750000000   5341  2019
25965970     11    13  0,750000000   5341  2019
25965979     11    13  0,750000000   5341  2019
25965981     11    13  0,750000000   5341  2019

[218531 rows x 16 columns]
We can see that some stations are on but have 0 bikes and 0 space. That seems weird. Maybe they are always like that and so we can consider them like off ?
I will look at the Ids of these stations :
[518 513 523 533 534 529]
There are only 6 stations.

,id,bikesAvailable,spacesAvailable,allowDropoff,isFloatingBike,state,realTimeData,time,week,yday,day,month,hour,minute,yhour,year
653147,518,1,6,1.0,0.0,Station on,1.0,2019/04/09 08:10:02,15,99,9,4,11,"0,166666670",155,2019
653492,518,1,6,1.0,0.0,Station on,1.0,2019/04/09 08:15:01,15,99,9,4,11,"0,250000000",155,2019
653837,518,1,6,1.0,0.0,Station on,1.0,2019/04/09 08:20:01,15,99,9,4,11,"0,333333340",155,2019
654182,518,1,6,1.0,0.0,Station on,1.0,2019/04/09 08:25:01,15,99,9,4,11,"0,416666660",155,2019
654527,518,1,6,1.0,0.0,Station on,1.0,2019/04/09 08:30:02,15,99,9,4,11,"0,500000000",155,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25011399,518,5,15,1.0,0.0,Station on,1.0,2019/11/04 06:35:03,45,308,4,11,8,"0,583333300",5168,2019
25011863,518,5,15,1.0,0.0,Station on,1.0,2019/11/04 06:40:02,45,308,4,11,8,"0,666666700",5168,2019
25012327,518,5,15,1.0,0.0,Station on,1.0,2019/11/04 06:45:02,45,308,4,11,8,"0,750000000",5168,2019
25012791,518,5,15,1.0,0.0,Station on,1.0,2019/11/04 06:50:02,45,308,4,11,8,"0,833333300",5168,2019
25013255,518,5,15,1.0,0.0,Station on,1.0,2019/11/04 06:55:02,45,308,4,11,8,"0,916666700",5168,2019

In [3]:
print("I'm going to look if there are some NAN values")
print(bike_station.isnull().any())
print(bike_station.isnull().sum())

I'm going to look if there are some NAN values
id                 False
bikesAvailable     False
spacesAvailable    False
allowDropoff        True
isFloatingBike      True
state               True
realTimeData        True
time               False
week               False
yday               False
day                False
month              False
hour               False
minute             False
yhour              False
year               False
dtype: bool
id                      0
bikesAvailable          0
spacesAvailable         0
allowDropoff       368885
isFloatingBike     368885
state              368885
realTimeData       368885
time                    0
week                    0
yday                    0
day                     0
month                   0
hour                    0
minute                  0
yhour                   0
year                    0
dtype: int64

In [6]:
print(bike_station[bike_station.isna().any(axis=1)])

          id  bikesAvailable  spacesAvailable  allowDropoff  isFloatingBike  \
4261809  713               0               30           NaN             NaN
4262019  715              12                0           NaN             NaN
4262072  593               7                5           NaN             NaN
4262441  110               0                0           NaN             NaN
4262494  231               3               13           NaN             NaN
...      ...             ...              ...           ...             ...
4704054  107              22                3           NaN             NaN
4704055  228               5               15           NaN             NaN
4704056  108              13                4           NaN             NaN
4704057  229              12                4           NaN             NaN
4704058  109              22                4           NaN             NaN

        state  realTimeData                 time  week  yday  day  month  \
4261809   NaN           NaN  2019/05/23 03:00:02    21   143   23      5
4262019   NaN           NaN  2019/05/23 03:00:02    21   143   23      5
4262072   NaN           NaN  2019/05/23 02:05:02    21   143   23      5
4262441   NaN           NaN  2019/05/23 02:05:02    21   143   23      5
4262494   NaN           NaN  2019/05/23 02:05:02    21   143   23      5
...       ...           ...                  ...   ...   ...  ...    ...
4704054   NaN           NaN  2019/05/26 17:05:03    21   146   26      5
4704055   NaN           NaN  2019/05/26 17:05:03    21   146   26      5
4704056   NaN           NaN  2019/05/26 17:05:03    21   146   26      5
4704057   NaN           NaN  2019/05/26 17:05:03    21   146   26      5
4704058   NaN           NaN  2019/05/26 17:05:03    21   146   26      5

         hour       minute  yhour  year
4261809     6  0,000000000   1206  2019
4262019     6  0,000000000   1206  2019
4262072     5  0,083333336   1205  2019
4262441     5  0,083333336   1205  2019
4262494     5  0,083333336   1205  2019
...       ...          ...    ...   ...
4704054    20  0,083333336   1292  2019
4704055    20  0,083333336   1292  2019
4704056    20  0,083333336   1292  2019
4704057    20  0,083333336   1292  2019
4704058    20  0,083333336   1292  2019

[368885 rows x 16 columns]

In [3]:
time = bike_station['time'][0:100].str.split(expand=True)
time

(25966000, 16)